<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <div class="heart-shape">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </div>
        <button type="button" class="favourite" data-dismiss="modal" aria-label="Favourite">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>The inner stories are told either simply to add entertainment or more usually to act as an example to the other characters. In either case, the inner story often has a symbolic and psychological significance for the characters in the outer story. There is often some parallel between the two stories, and the fiction of the inner story is used to reveal the truth in the outer story. Often the stories within a story are used to satirize views, not only in the outer story, but also in the real world. When a story is told within another instead of being told as part of the plot, it allows the author to play on the reader's perceptions of the characters—the motives and the reliability of the storyteller are automatically in question.<p>
      </div>
    </div>
  </div>
</div>
